body {
  font-family: "Lato", sans-serif;
}

.d-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.j-content-btw {
  -webkit-box-pack: justify !important;
  -webkit-justify-content: space-between !important;
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}

.align-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column {
  height: calc(100% - 198px);
  overflow-y: auto;
  flex-direction: column;
}
.column > ul:last-child {
  margin: 20px 0;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.w-100 {
  width: 100%;
}

aside {
  background-color: #2A3354;
  width: 246px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  box-sizing: border-box;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 44px;
  padding: 16px 20px;
}
.sidebar-header .brand-text {
  margin: 0;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
}
.sidebar-header .brand-text > span {
  justify-content: start;
}
.sidebar-header .brand-text > span > span {
  background-color: #0771ED;
  font-size: 10px;
  padding: 4px 3px;
  border-radius: 4px;
  margin-left: 4px;
  font-weight: normal;
}
.sidebar-header svg {
  cursor: pointer;
}

.sidebar-info {
  padding: 0 20px;
  margin-bottom: 26px;
}
.sidebar-info label {
  position: relative;
  display: block;
}
.sidebar-info label i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 12px;
  color: #fff;
}
.sidebar-info span {
  text-transform: uppercase;
  color: #909ABB;
  font-size: 10px;
  padding-left: 12px;
  margin-bottom: 8px;
}
.sidebar-info select {
  width: 100%;
  font-size: 12px;
  font-weight: 700;
  outline: none;
  background-color: #202845;
  border: 1px solid #404867;
  border-radius: 4px;
  padding: 8px 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
  cursor: pointer;
  color: #fff;
}
.sidebar-info select:focus, .sidebar-info select:active {
  outline: none;
}

.sidebar-menu-list {
  padding: 0;
  margin: 0;
}
.sidebar-menu-list li {
  font-size: 14px;
  list-style: none;
}
.sidebar-menu-list li > a {
  display: flex;
  justify-content: start;
  align-items: center;
  color: #fff;
  text-decoration: none;
  padding: 0.55rem 8px;
  border-radius: 4px;
  margin: 0 12px;
}
.sidebar-menu-list li > a:hover {
  background-color: #6A77A3;
}
.sidebar-menu-list li > a.active {
  background-color: #0771ED;
  padding: 0.55rem 8px;
  margin: 0 12px;
}
.sidebar-menu-list li > a.active .notify {
  margin-right: 16px;
}
.sidebar-menu-list li > a.opened {
  background-color: #202845;
}
.sidebar-menu-list li > a .notify {
  font-size: 10px;
  padding: 4px;
  margin-left: 8px;
  background-color: #C93636;
  border-radius: 2px;
}
.sidebar-menu-list li > a i {
  margin-right: 8px;
}
.sidebar-menu-list li > a i:first-child, .sidebar-menu-list li > a img:first-child {
  margin-right: 8px;
}
.sidebar-menu-list li > a .breadcrumbs {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.5);
}

.sidebar-menu-list_submenu {
  margin: 8px 12px;
  padding: 8px 4px;
  background-color: #303A5F;
}
.sidebar-menu-list_submenu li a {
  text-indent: 16px;
  padding-right: 4px;
  margin: 0;
}

.submenu-final {
  background-color: #46527D;
  margin: 8px 0;
  border-radius: 4px;
}
.submenu-final li a {
  padding-left: 4px;
}

.submenu-dropdown > a.submenu-opened {
  background-color: #202845;
}

.scroll::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scroll::-webkit-scrollbar-track {
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.5);
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: #6A77A3;
}

.scroll::-webkit-scrollbar-thumb:hover {
  background: #46527D;
}

.scroll::-webkit-scrollbar-thumb:active {
  background: #46527D;
}

.sign-out {
  color: rgba(255, 255, 255, 0.6) !important;
}

.fa-caret-down {
  font-size: smaller;
}

/*# sourceMappingURL=main.css.map */
