$default-bg: #2A3354;
$bg-opened: #303A5F;
$notify: #C93636;
$active: #0771ED;

body {
  font-family: 'Lato', sans-serif;
}

.d-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.j-content-btw {
  -webkit-box-pack: justify !important;
  -webkit-justify-content: space-between !important;
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}

.align-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column {
  height: calc(100% - 198px);
  overflow-y: auto;
  flex-direction: column;

  > ul:last-child {
    margin: 20px 0;
  }
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.w-100 {
  width: 100%;
}

aside {
  background-color: $default-bg;
  width: 246px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  box-sizing: border-box;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 44px;
  padding: 16px 20px;

  .brand-text {
    margin: 0;
    color: #fff;
    font-weight: 700;
    font-size: 20px;

    > span {
      justify-content: start;

      > span {
        background-color: $active;
        font-size: 10px;
        padding: 4px 3px;
        border-radius: 4px;
        margin-left: 4px;
        font-weight: normal;
      }
    }
  }

  svg {
    cursor: pointer;
  }
}

.sidebar-info {
  padding: 0 20px;
  margin-bottom: 26px;

  label {
    position: relative;
    display: block;

    i {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 12px;
      color: #fff;
    }
  }

  span {
    text-transform: uppercase;
    color: #909ABB;
    font-size: 10px;
    padding-left: 12px;
    margin-bottom: 8px;
  }

  select {
    width: 100%;
    font-size: 12px;
    font-weight: 700;
    outline: none;
    background-color: #202845;
    border: 1px solid #404867;
    border-radius: 4px;
    padding: 8px 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    cursor: pointer;
    color: #fff;

    &:focus, &:active {
      outline: none;
    }
  }
}

.sidebar-menu-list {
  padding: 0;
  margin: 0;

  li {
    font-size: 14px;
    list-style: none;

    > a {
      display: flex;
      justify-content: start;
      align-items: center;
      color: #fff;
      text-decoration: none;
      padding: 0.55rem 8px;
      border-radius: 4px;
      margin: 0 12px;

      &:hover {
        background-color: #6A77A3;
      }

      &.active {
        background-color: $active;
        padding: 0.55rem 8px;
        margin: 0 12px;

        .notify {
          margin-right: 16px;
        }
      }

      &.opened {
        background-color: #202845;
      }

      .notify {
        font-size: 10px;
        padding: 4px;
        margin-left: 8px;
        background-color: $notify;
        border-radius: 2px;
      }

      i {
        margin-right: 8px;
      }

      i:first-child, img:first-child {
        margin-right: 8px;
      }

      .breadcrumbs {
        font-size: 10px;
        color: rgba(255, 255, 255, 0.5);
      }
    }
  }
}

.sidebar-menu-list_submenu {
  margin: 8px 12px;
  padding: 8px 4px;
  background-color: $bg-opened;

  li {
    a {
      text-indent: 16px;
      padding-right: 4px;
      margin: 0;
    }
  }
}

.submenu-final {
  background-color: #46527D;
  margin: 8px 0;
  border-radius: 4px;

  li {
    a {
      padding-left: 4px;
    }
  }
}

.submenu-dropdown {
  > a.submenu-opened {
    background-color: #202845;
  }
}

.scroll::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scroll::-webkit-scrollbar-track {
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.5);
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: #6A77A3;
}

.scroll::-webkit-scrollbar-thumb:hover {
  background: #46527D;
}

.scroll::-webkit-scrollbar-thumb:active {
  background: #46527D;
}

.sign-out {
  color: rgba(255, 255, 255, 0.6) !important;
}

.fa-caret-down {
  font-size: smaller;
}